<!doctype html>
<html lang="en">
<head>
    <title>Calendar 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <script src="js/main.js"></script>


</head>
<body>
Em construção!
<section>
    <template>
        <b-row>
            <b-col md="auto">
                <b-calendar v-model="value" @context="onContext" locale="en-US"></b-calendar>
            </b-col>
            <b-col>
                <p>Value: <b>'{{ value }}'</b></p>
                <p class="mb-0">Context:</p>
                <pre class="small">{{ context }}</pre>
            </b-col>
        </b-row>
    </template>
</section>

<script>
    export default {
        data() {
            return {
                value: '',
                context: null
            }
        },
        methods: {
            onContext(ctx) {
                this.context = ctx
            }
        }
    }
</script>
</body>
</html>

