<script src="https://kit.fontawesome.com/59c7b81ae9.js" crossorigin="anonymous"></script>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Rua</th>
            <th scope="col">Bairro</th>
            <th scope="col">CEP</th>
            <th scope="col">Cidade</th>
            <th scope="col">UF</th>
            <th scope="col">Numero</th>
            <th scope="col">Complemento</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="paciente:${pacientes}">
            <th scope="row" th:text="${paciente.cpf}" ></th>
            <td th:text="${paciente.nome}"></td>
            <td th:text="${paciente.telefone}"></td>
            <td th:text="${paciente.endereco.logradouro}"></td>
            <td th:text="${paciente.endereco.bairro}"></td>
            <td th:text="${paciente.endereco.cep}"></td>
            <td th:text="${paciente.endereco.cidade}"></td>
            <td th:text="${paciente.endereco.uf}"></td>
            <td th:text="${paciente.endereco.numero}"></td>
            <td th:text="${paciente.endereco.complemento}"></td>
            <td>
                <i class="fa-thin fa-pen">d</i>
                <i class="fa-light fa-trash-can-undo"></i>
            </td>
        </tr>
    </table>
</div>