
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Salario</th>
            <th scope="col">CRP</th>
            <th scope="col">Quantidade de Pacientes</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="psicologo:${psicologos}">
            <th scope="row" th:text="${psicologo.cpf}" ></th>
            <td th:text="${psicologo.nome}"></td>
            <td th:text="${psicologo.salario}"></td>
            <td th:text="${psicologo.crp}"></td>
            <td th:text="${psicologo.qtde_paciente}"></td>
        </tr>

    </table>
</div>
